<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/goodFlipStyles.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="~/Scripts/cardanimationsglobal.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/myHubs.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1> Here is the page header</h1>
 <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("SinglePlayer","OnePLayer","Games")</li>
            <li>@Html.ActionLink("Join Game Room", "Index", "Games")</li>
        </ul>
</nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
